/*VISUALIZZAZIONE PC ALTA RISOLUZIONE (DEFAULT)*/
body{padding: 0px; margin: 0px;}

.menubtn {display: none;}
#navbar {
    display: flex;
    background-color: rgb(0, 135, 246);
    justify-content: center;
    align-items: center;
    width: 100%;
    box-shadow: 0px 8px 4px #dedede;
    position: fixed;
}
.logo {
    width: 280px;
    display:flex;
    padding: 0;
    margin: 8px 30px 8px 0px;
}
nav ul {
    display: flex;
    text-align: left;
    margin: 0px;
    padding: 0;
    list-style: none;
}
nav ul li {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18pt;
    display: flex;
    position: relative;
    margin: 0px;
    padding: 10px 30px;
    color: white;
    cursor: pointer;
}
nav ul li:hover {
    background-color: rgba(190, 190, 190, 0.61);
    border-radius: 50px;
}
nav ul li a {
    text-decoration: none;
    color: white;
}

article {
    padding: 110px 60px 10px 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15pt;
    font-style: normal;
    text-align: justify;
    color: rgb(61, 61, 61);
    line-height: 23pt;
    background-color: rgb(255, 250, 242);
}

/*VISUALIZZAZIONE PC BASSA RISOLUZIONE - TABLET ORIZZONTALE E VERTICALE - SMARTPHONE ORIZZONTALE*/
@media (max-width: 1024px) {
    body {padding: 0; margin: 0;}
    .menubtn {display: none;}
    #navbar {width: 100%; background-color: rgb(0, 135, 246); display: block; position: fixed;}
    .imgcont {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }
    .logo {
        display: flex;
        width: 210px;
        padding: 0;
        margin: 8px 0px 8px 0px;
    }
    nav ul {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        position: relative;
        display: flex;
        text-align: center;
        justify-content: center;
        justify-items: center;
        background-color: transparent;
        padding: 8px 0px;
        margin: 0;
    }
    nav ul li {
        font-size: 16pt;
        display: flex;
        background-color: rgb(0, 135, 246);
        padding: 8px 30px;
        margin: 0;
    }

    article {
        padding: 150px 60px 10px 60px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 15pt;
        font-style: normal;
        text-align: justify;
        color: rgb(61, 61, 61);
        line-height: 23pt;
        background-color: rgb(255, 250, 242);
    }
}


/*VISUALIZZAZIONE SMARTPHONE VERTICALE*/
@media (max-width: 610px) {
    body{padding: 0px; margin: 0px;}
    
    .menubtn {
        text-decoration: none;
        position: fixed;
        color: white;
        font-size: 30pt;
        right: 15px;
        top: 5px;
        display: flex;
        z-index: 1;
    }
    #navbar {
        position: fixed;
        width: 100%;
        background-color: rgb(0, 135, 246);
        display: block;
    }
    .imgcont {
        display: flex;
        width: 100%;
        justify-content: left;
        align-items: center;
        padding: 0;
        margin: 0;
    }
    .logo {
        display: flex;
        width: 200px;
        padding: 0;
        margin: 10px 0px 10px 15px;
    }

    #links {
        display: none;
        justify-content: center;
        text-align: center;
        }

    nav ul {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        position: absolute;
        background-color: rgb(0, 135, 246);
        font-size: 8pt;
        display: block;
        text-align: center;
        justify-items: center;
        padding: 0;
        width: 85%;
        margin: 0px;
    }
    nav ul li {
        display: block;
        background-color: rgba(0, 135, 246, 0.785);
        padding: 11px 0px;
        margin: 0;
    }
    nav ul li:hover {
        border-radius: 0;
        background-color: rgba(190, 190, 190, 0.61);
    }

    article {
        padding: 100px 60px 10px 60px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 15pt;
        font-style: normal;
        text-align: justify;
        color: rgb(61, 61, 61);
        line-height: 23pt;
        background-color: rgb(255, 250, 242);
    }
}
