/*VISUALIZZAZIONE PC ALTA RISOLUZIONE (DEFAULT)*/
body{padding: 0px; margin: 0px;}

.menubtn {display: none;}
#navbar {
    display: flex;
    background-color: rgb(0, 135, 246);
    justify-content: center;
    align-items: center;
    width: 100%;
    box-shadow: 0px 8px 4px #dedede;
}
.logo {
    width: 380px;
    display:flex;
    padding: 0;
    margin: 10px 30px 10px 0px;
}
nav ul {
    display: flex;
    text-align: left;
    margin: 0px;
    padding: 0;
    list-style: none;
}
nav ul li {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 21pt;
    display: flex;
    position: relative;
    margin: 0px;
    padding: 10px 30px;
    color: white;
    cursor: pointer;
}
nav ul li:hover {
    background-color: rgba(190, 190, 190, 0.61);
    border-radius: 50px;
}
nav ul li a {
    text-decoration: none;
    color: white;
}

article{background-image: url(bg.jpg)}

/*VISUALIZZAZIONE PC BASSA RISOLUZIONE - TABLET ORIZZONTALE E VERTICALE - SMARTPHONE ORIZZONTALE*/
@media (max-width: 1024px) {
    body {padding: 0; margin: 0;}
    .menubtn {display: none;}
    #navbar {width: 100%; background-color: rgb(0, 135, 246); display: block;}
    .imgcont {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }
    .logo {
        display: flex;
        width: 260px;
        padding: 0;
        margin: 10px 0px 10px 0px;
    }
    nav ul {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        position: relative;
        font-size: 12pt;
        display: flex;
        text-align: center;
        justify-content: center;
        justify-items: center;
        background-color: transparent;
        padding: 10px 0px;
        margin: 0;
    }
    nav ul li {
        display: flex;
        background-color: rgb(0, 135, 246);
        padding: 10px 30px;
        margin: 0;
    }
}


/*VISUALIZZAZIONE SMARTPHONE VERTICALE*/
@media (max-width: 610px) {
    body{padding: 0px; margin: 0px;}
    
    .menubtn {
        text-decoration: none;
        position: absolute;
        color: white;
        font-size: 30pt;
        left: 15px;
        top: 10px;
        display: flex;
    }
    #navbar {
        width: 100%;
        background-color: rgb(0, 135, 246);
        display: block;
    }
    .imgcont {
        display: flex;
        width: 100%;
        justify-content: end;
        align-items: center;
        padding: 0;
        margin: 0;
    }
    .logo {
        display: flex;
        width: 260px;
        padding: 0;
        margin: 10px 15px 10px 0px;
    }

    #links {display: none;}

    nav ul {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        position: relative;
        font-size: 12pt;
        display: block;
        text-align: center;
        justify-items: center;
        background-color: transparent;
        padding: 0;
        margin: 0;
    }
    nav ul li {
        display: block;
        background-color: rgb(0, 135, 246);
        padding: 10px 0px;
        margin: 0;
    }
    nav ul li:hover {
        border-radius: 0;
        background-color: rgba(190, 190, 190, 0.61);
    }
}